logs
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.DS_Store
.terraform
/user-service/ci/ansible/output
/secrets.env
/file-based-kafka-broker.txt
/chirper-user.mv.db
/chirper-user.trace.db
